@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.hero-section {
  background-image: url("./table-regarder-vide-restaurant.jpg");
  background-size: cover;
  background-position: 10%;
}
.imgaccueil img {
  max-width: 100%;
}
.accueil-texte {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.gros-titre {
  font-size: 3rem;
}
.petite-ligne {
  font-size: 1.125rem;
}
.font-weight-bold {
  font-weight: 700;
}

.imgafric img {
  max-width: 100%;
}

/*.btn {
  font-weight: 500;
}
.btn-primary {
  background-color: #f97316;
  border: none;
}

.btn-secondary {
  background: white;
  border-color: #f97316;
  color: #f97316;
} */
.second-section {
  background-color: #fed7aa;
}
.gros-titre2 {
  font-size: 2rem;
}
.gros-titre3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.big-color {
  font-size: 4rem;
  color: #df9f16;
  font-weight: 700;
}
