.panier-container {
  padding: 2rem 4rem;
}
.panier-container {
  text-align: center;
}
.btn-retour-menu {
  text-decoration: none;
  color: #ffc107;
}

.btn-retour-menu:hover {
  color: black;
}

.btn-plus {
  background-color: #ffc107;
  border-radius: 50%;

  border-style: none;
}
.btn-moins {
  background-color: red;
  border-radius: 50%;

  border-style: none;
}
.input-panier {
  width: 3rem;
  text-align: center;
  border-radius: 5px;
  border-color: white;
}
.btn-supprimer {
  background-color: red;
  border-radius: 5px;
  border-style: none;
}
