@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.main {
  padding: 18px;
  background-color: #ca8a04;

  font-family: "Poppins", sans-serif;
}
.logo img {
  max-height: 60px;
}
.container1 {
  max-width: 1240px;

  padding: 0 20px;
  margin: 0 auto;
}
.link a {
  color: #083344;
  text-decoration: none;
  padding: 30px;
  border-radius: 4px;
  margin-right: 8px;
}
.link a:hover {
  color: white;
  transition: 0.5s;
}

.nav-panier {
  color: black;
}
.nav-user {
  color: black;
}

.panier-quantity {
  margin-left: 5px;
  color: white;
  margin-left: 3px;
}
