@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.bg-menu {
  background-color: #fed7aa;
}
.lmj-plant-list {
  list-style-type: none;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}

.lmj-plant-item-cover {
  height: 220px;
  width: 220px;
  border-radius: 20px;
}

.coloos {
  color: gray;
}

.img-menu {
  height: 150px;
  width: 100%;
}

div [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.card {
  transition: 0.5s;

  height: 240px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}

.categorie {
  font-size: 18px; /* Taille de la police */
  font-weight: bold; /* Gras */

  position: relative;
  padding: 10px 0;
}
.categorie::after {
  content: ""; /* Contenu vide */
  display: block; /* Affiche le contenu comme un bloc */
  width: 50px; /* Largeur du trait */
  height: 2px; /* Épaisseur du trait */
  background-color: #ffc107; /* Couleur du trait (noir dans cet exemple) */

  position: absolute; /* Position absolue pour le trait */

  left: 0; /* Alignement à gauche du trait */
  right: 0;
}
